body {
	font-family:'Courier New', Courier, monospace;
	font-size: 120%;
	margin: 0;
	padding: 0;
	background: linear-gradient(20deg, #a8a8a8, #1c1c1c);
	color: #333;
}
footer {
	background-color: #343a40;
	color: #fff;
	padding: 1px;
	text-align: center;
}
nav {
	background-color: #343a40;
	color: #000;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	width: 60%;
	top: 0;
	z-index: 1000;
	margin-left: 20%;
	margin-right: 20%;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline;
	margin-right: 20px;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
}
section {
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #f8f9fad7;
	border: #333;
}
section#about{
	margin-top: 70px;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
}
.project {
	width: calc(50% - 20px);
	background-color: #f8f9fa8a;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.project img {
	width: 80%; 
	height: auto;
	border-radius: 5px;
}
.contact-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.platform {
	margin: 10px;
	margin-bottom: 20px;
	width: calc(40% - 20px);
	text-align: center;
}
.platform img {
	width: 100px;
	height: auto;
	margin-bottom: 5px;
}
.platform p {
	margin: 0 auto;
	margin-top: 10px;
}	