body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(20deg, #a8a8a8, #1c1c1c);
    color: #333;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: justify;
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: justify;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    margin: 80px auto 20px; /* Account for fixed nav height */
    border-radius: 5px;
    max-width: 1200px;
    background-color: #f8f9fad7;
}

section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

section#about img {
    text-align: center;
    width: 45%;
    height: auto;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.project {
    width: calc(50% - 20px);
    max-width: 600px;
    background-color: #f8f9fa8a;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #858585;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.download-button:hover {
    background-color: #535353;
}

.project img {
    width: 80%;
    max-width: 450px;
    height: auto;
    border-radius: 5px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.platform {
    text-align: center;
    max-width: 250px;
}

.platform img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.platform p {
    margin: 10px 0 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        margin: 70px 10px 20px;
        padding: 15px;
    }

    section#about img {
        width: 70%;
		border-radius: 5px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 90%;
    }

    nav ul li {
        margin: 5px 0;
    }

    section {
        margin: 70px 5px 20px;
    }

    section#about img {
        width: 80%;
    }

    .project img {
        width: 100%;
    }

    .platform img {
        width: 60px;
    }

    .download-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

